@import '_common';

$menu-height: $measure * 8;
$menu-text-margin: $measure * 3/4;

$module: '.menu';

#{$module} {
  position: fixed;
  top: -$menu-height;
  left: 0;
  z-index: $menu-z-index;
  width: 100%;
  height: $menu-height;
  box-shadow: 0 0 $measure rgba(0, 0, 0, $transparent);
  background: rgba(0, 0, 0, $transparent);
  transition: transform $transition-duration;
  color: $light;
  display: flex;
  overflow: hidden;

  &__title {
    font-weight: normal;
    margin-bottom: $menu-text-margin;
  }

  &__section {
    padding: $measure;
    font-size: $font-size / 1.25;
    flex-grow: 1;
    width: 33%;
    box-sizing: border-box;

    &:first-child {
      padding-left: $button-size + ($measure * 2);
    }

    q {
      font-style: italic;
    }
  }

  // HISTORY
  &__color {
    display: block;
    width: $measure;
    height: $measure;
    font-size: 0;
    line-height: 0;
    float: left;
    border: $line-width solid rgba(255, 255, 255, $transparent);
    border-radius: $measure;
    margin: 0 $measure / 4 $measure / 4 0;
    transition: border-color $transition-duration;
    cursor: pointer;

    &:hover {
      border-color: rgba(255, 255, 255, $visible);
    }
  }

  // SHARE
  &__share-input {

    &[type="text"] {
      outline: $line-width solid rgba(255, 255, 255, $transparent);
      border: none;
      width: 90%;
      padding: 0 $line-width;
      margin: $line-width 0 $menu-text-margin + $line-width $line-width;
      height: $measure;
      background: $light;
      opacity: $visible;
      transition: outline-color $transition-duration;

      &:hover,
      &:focus {
        outline-color: rgba(255, 255, 255, $visible);
        outline-offset: 0;
      }
    }
  }

  &__link {
    cursor: pointer;
    text-decoration: underline;

    &--instruction {
      cursor: default;
      text-decoration: none;
    }
  }

  // ABOUT
  &__text {
    line-height: 1.2em;
  }

  &__symbol {
    display: inline-block;
    font-size: $font-size * 1.2;
    vertical-align: middle;

    &__text {
      display: none;
    }

    &--love {

      &:after {
        content: "\2665";
      }
    }

    &--city {

      &:after {
        content: "\2716\2716\2716";
      }
    }
  }

  small {
    position: absolute;
    opacity: $transparent;
    bottom: $measure;
    right: $measure;
    cursor: default;
    font-size: inherit;
  }
}

.container {

  &--menu {

    #{$module} {
      transform: translate(0, $menu-height);
    }
  }
}
